body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #22343d;
    background-color: #fff;}
    a {
        text-decoration: none;
        color: currentColor;
    }
    ul, ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
 h1, h2, h3, h4, h5, h6, p {
    margin: 0;
 }  
 img {
    display: block;
    max-width: 100%;
    height: auto;
 }
 button {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;
 }

 .visually-hidden {
    position: absolute;
    white-space: nowrap
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: ract(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
 }
 
.container {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.button {
    min-width: 110px;
    padding: 14px 42px;
    border-radius: 4px;

    font-weight: 700;
    line-height: 1.5;
    color: #fff;
    background-color: #02897a;
}

.button:hover,
.button:focus {
    background-color: #016257;